<form class="form">
  <input type="text" id="search" name="search" autocomplete="off" placeholder="Enter a city">

  <div class="search-results">
  </div>
</form>

<div class="container">
  	<div class="weather">
      <div class="location">
      </div>
      <div class="temperature">
        <div class="icon">
        </div>
        <div class="degrees">
        </div>
      </div>
	    </div>
  </div>
